- if current_teacher
  %li{class: 'nav-item'}
    = link_to 'Log out', session_path, method: :delete, class: 'nav-link' 
- else
  %li{class: 'nav-item'}
    = link_to 'Sign Up', new_teacher_path, class: 'nav-link' 
  %li{class: 'nav-item'}
    = link_to 'Log in', new_session_path, class: 'nav-link' 