%div.container
  = render partial: 'shared/page_title', locals: { title: "Teacher: #{@teacher.email}" }

  %div{ class: 'row justify-content-md-center' }
    %div{class: 'col-md'}
      %h4
        Courses

  %div{ class: 'row justify-content-md-center' }
    %div{class: 'col-md'}
      %table{ class: 'table' }
        %thead{ class: 'table-dark' }
          %tr
            %th
              title
        %tbody
          - if @teacher.courses.empty?
            %tr
              %td
                This Teacher did not register into any Course
          - else
            - @teacher.courses.each do |course|
              %tr
                %td
                  = course.title

  %div{ class: 'row justify-content-md-center' }
    %div{class: 'col-md'}
      = render partial: 'votes/form', locals: { vote: @vote }  